img{
height: 200px;

}

body{
background-color:rgba(255, 228, 196, 0.726);
background-attachment:fixed;
}
h1{

    text-align: center;
    font-size: 50px;
    color:crimson;
    font-style: bold;

}


h3{
text-align: center;
font-size: 50px;
color:blue;
font-style: oblique;
        
        
    
}
.item h2{
color:blueviolet;



}